@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Playfair+Display|Orbitron');
:root{
--colorRed: red;
--colorBlue: blue;
--colorYellow: rgba(237, 235, 31, 1);
--colorGreen: green;
}

body{
  margin: 0;
  padding: 0;
  background: rgb(109, 166, 226);
  font-family: "Indie Flower",cursive;
}
.outer-container{
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.top{
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 4em;
  padding: 0.5em;
}
.main{

}
.simon-exterior{
  position: relative;
  border-radius: 50%;
  border: 1px solid #000;
  width: 30em;
  height: 30em;
  overflow: hidden;
  border: 20px solid #000;
  -webkit-box-shadow: -8px 3px 5px 4px hsla(60, 1%, 18%, 0.97);
  box-shadow: -8px 3px 5px 4px hsla(60, 1%, 18%, 0.97);
}

.quadrants{
  overflow: hidden;
  position: absolute;
  top: 0; right: 0;
  width: 50%; height: 50%;
  transform-origin: 0% 100%;
  z-index: 3;
  opacity: 0.7;
  /*transition: all 1s ease-in-out;*/
}

.active{
  opacity: 1;
}


.controls{
  border: 10px solid #000;
  position: absolute;
  top: 28%;
  left: 28%;
  background: white;
  height: 40%;
  width: 40%;
  border-radius: 50%;
  z-index: 10;
}
.control-container{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  -ms-align-items: center;
  align-items: center;
}
.control-btn{
  /*border: 1px solid #000;*/
  width: 25%;
  height: 2em;
  background: hsla(43, 43%, 37%, 0.97);
  border-radius: 15px;
  margin: 0.2em 0em;
  text-align: center;
  -webkit-box-shadow: -2px 2px 2px 0px black;
  box-shadow: -2px 2px 2px 0px black;
  color: #fff;
}

.score{
  background: black;
  color: hsla(106, 50%, 47%, 0.97);
  font-family: "Orbitron";
  padding-top: 0.3em;
}

.one{
  background: var(--colorRed);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.two{
  border-right: none;
  border-top: none;
  background: var(--colorBlue);
  transform: rotate(180deg);
}
.three{
  border-right: none;
  border-left: none;
  background: var(--colorGreen);
  transform: rotate(90deg);
}
.four{
  border-right: none;
  background: var(--colorYellow);
}

.bottom{
  padding: 1em;
  font-size: 2em;
}
