body {
  margin: 0px 0px;
  background: url("http://img08.deviantart.net/6e1f/i/2014/244/a/8/cartoon_environment_concept_2_by_natashakashkina-d7xiufq.jpg");
}

h1 {
  text-align: center;
  width: 100%;
  font-family: 'Bungee Shade', cursive;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 600px;
}

.triplets {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 33%;
  padding: 20px 20px;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'Bungee', cursive;
}
